body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: #d4e9e7;
    width: 53.9%;
    margin: 0 auto;
}

header{
    text-align: center;
    color: white;
}

.head{
    background-image: url("images/lone-starfish-wide.jpg");
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    text-align: center;

}

nav li {
    display: inline-block;
    padding: 10px 50px;
    border-right: 1px solid black;
    
}

nav li:last-child {
    border-right: none;
}


.starfish{
    float: left;
    width: 200px;
    padding: 5px;
    margin-right: 5px;
}

form{
    padding: 20px;
    border: 1px solid black;
}

form input, form textarea{
    width: 100%;
    padding: 5px;
    
}

button{
    padding: 5px 10px;
    background-color: #d4e9e7;
}

footer{
    text-align: right;
    padding: 10px;
}


