body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    margin: 0;
    color: black;
}

header {
    background-image: url('images/lone-starfish-wide.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 80px, 0;
}



