body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    margin: 0;
    padding: 0;
}

/* This is for the main page, it overrights the background image */
.wrapper{
    background-color: #d4e9e7;
    width: auto;
    margin: 0 auto;
}

header{
    text-align: center;
    color: white;
    font-size: 24px;
}

/* This was in order to move the main header onto the header image */
#banner h1 {
    position: absolute;
    top: 195px;
    left: 40%
}

#banner {
    object-fit: cover;
    display: block;
}

/* This section is for alligning the navigation to be side-by-side and at the top. I also got rid of the text decoration and set the colour to black */
a {
    text-decoration: none;
    color: black;
}

nav ul {
    text-align: center;

}

nav li {
    display: inline-block;
    padding: 10px 50px;
    border-right: 1px solid black;
    
}

nav li:last-child {
    border-right: none;
}


/* for the picture of the starfish, floating allows it to bend around text */
.starfish{
    float: left;
    width: 200px;
    padding: 5px;
    margin-right: 5px;
}

/* For the form I gave it a border, added the buttons and made sure they were side by side */
form textarea{
    width: 100%;
    padding: 5px;
    
}

button{
    padding: 5px 10px;
    background-color: #d4e9e7;
}

fieldset {
    display: block;
    border-width: 2px;
    
}

/* I moved the copright position to the right of the page and gave it padding */
footer{
    text-align: right;
    padding: 10px;
}


